<h1>{{ rna.identifier }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>Description</h2>

<ul>
    <li>{{ rna.description }}</li>
</ul>

<h2>Aliases</h2>

<form action="{% url 'portal:vote' rna.id %}" method="post">
{% csrf_token %}
{% for ali in rna.rnaalias_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ ali.id }}" />
    <label for="choice{{ forloop.counter }}">{{ ali.identifier }} {{ ali.source }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
